<%= link_to movie_path(movie), class:"text-decoration-none" do %>
  <li class="movie-card" >
    <div class="movie-card-category" data-aos="zoom-in" style="background-image: url(<%= movie.poster_url%>)">
    </div>
  <% end %>
  <div class="bookmark-button">
    <i class="fa-regular fa-bookmark fa-xl btn" style="color: white;" data-bs-toggle="modal" data-bs-target="#exampleModal<%=movie.id%>"></i>
  </div>
</li>
<%= render "bookmarks/modal", movie: movie, bookmark: @bookmark %>
