<div class="d-flex text-white align-items-center text-center list-title">
  <h2>Trending Now</h2>
  <%= link_to 'Explore All>', movies_path, class:"text-decoration-none movies-link"%>
</div>
<ul class="cards">
  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie), class:"text-decoration-none" do %>
      <li class="movie-card" >
        <div class="movie-card-category" data-aos="zoom-in" style="background-image: url(<%= movie.poster_url%>)">
        </div>
      <% end %>
      <div class="bookmark-button">
        <%= link_to new_movie_bookmark_path(movie) do  %>
          <i class="fa-regular fa-bookmark fa-xl" style="color: white;"></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
