<div class="container ">
  <%= link_to 'Watchlists', lists_path, class: "m-3 btn btn-flat" %>
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3"  >
      <div class="bg-white rounded p-3 shadow">
        <% if @list %>
          <h3>Movie to <%= @list.name %></h3>
        <% elsif @movie %>
          <h3><%= @movie.title %> to List</h3>
        <% end %>
        <%= render 'bookmarks/form' %>
      </div>
    </div>
  </div>
</div>
