<div class="navbar-vanilla">
    <a class="navbar-vanilla-section" href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank">
      <img class="navbar-vanilla-logo" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1683758933/bsruv2qxr7kvxs6vzhir.jpg" alt="logo">
      <h2 class="navbar-vanilla-brand" >Movie List</h2>
    </a>
    <div class="navbar-vanilla-section">
      <div class="navbar-vanilla-menu">
        <a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank">Movie</a>
        <a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank">List</a>
      </div>
      <div class="navbar-vanilla-profile">
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1683758933/bsruv2qxr7kvxs6vzhir.jpg" alt="">
        <ul>
          <li><a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank">Profile</a></li>
          <li><a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank">About us</a></li>
          <li><a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
