<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1625&q=80);">
  <div class="container">
    <div class="content-wrap">
    <h1>Make your own movie watchlist!</h1>
    <p> “Cinema is not only about making people dream. It's about changing things and making people think.”</p>
      <%= link_to 'My Watchlists', lists_path, class: "m-3 btn btn-flat" %>
   </div>
</div>
  </div>

    <div class="footer position-absolute bottom-0 start-0" >
  <div class="footer-links">
    <a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank"><i class="fab fa-github" ></i></a>
    <a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/p/CjWVC7KKGED/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
