.btn-flat {
  color: white;
  padding: 0.35em 1.2em;
  border-radius: 0.12em;
  margin:0 0.3em 0.3em 0;
  background: #f5c518;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}

.btn-flat {
  color: white;
  padding: 0.35em 1.2em;
  border-radius: 0.12em;
  margin:0 0.3em 0.3em 0;
  background: #f5c518;
  transition: background 0.3s ease;
}
