
.card-large {
  height: 50vh;
  max-height: 400px;
}
.co-12 :hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  background-color:  rgba(104, 103, 103, 0.3);
}

.card-title {
  font-weight: bold;
  border-color: black;
}

.card:hover .add-button {
  opacity: 0.15;
}



.card:hover .delete-button {
  display: block;
}





.card-category {
  background-size: cover;
  background-position: center;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0px;
}


.card:not(:last-child) {
  margin-right: 10px;
}



.card .card-title {
  font-size: 20px;
}


.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 4px;
}

.cards::-webkit-scrollbar-thumb {
  background: rgba(104, 103, 103, 0.3);
}

.cards::-webkit-scrollbar-track {
  background: black;
}


@media (min-width: 100px) and (max-width: 575px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 1rem;
  }

  .card-category {

    height: 15vh;

  }

}


@media (min-width: 576px) {
  .card {
    flex-basis: calc(calc(100% / 2) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .card {
    flex-basis: calc(calc(100% / 4) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(20% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 1rem;
  }
}

.cards-show {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.card-show {
  background-color: rgba(104, 103, 103, 0.3);
  color: white;
  position: relative;
  font-size: 0.8rem;
}


.card-show-new:hover {
  opacity: 0.70;
}

.card-show:hover .delete-button {
  display: block;
}

.card-show:hover {
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.delete-button:hover {
  opacity: 0.15;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.add-button:hover {

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  opacity: 0.15;
}


// Smallest device
@media (min-width: 370px) {
  .cards-show {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-show {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-show {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-show {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-show {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
  }
}
